@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: xx-large;
  font-weight: bold;
}

th {
  text-align: center;
  padding: 5px 20px;
  border-right: 1px solid rgba(128, 128, 128, 0.452);
  width: 20vw;
}

td {
  padding: 5px 20px;
  border-right: 1px solid rgba(128, 128, 128, 0.452);
  min-width: 350px;
}

/* WebKit scrollbar styling */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar (for horizontal scrollbar) */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #8888886e; /* Thumb color */
}

::-webkit-scrollbar-thumb:hover {
  background: #5555557a; /* Thumb color on hover */
}

@media (max-width: 499px) {
  td {
    min-width: 250px;
  }
}
